<input type="image" class="logo" src="../../../assets/logoPFSI.png" (click)="openModalWithClass(template)">

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">PFSI</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="rounded mx-auto d-block" src="../../../assets/pfsi.png" width="50%">
    <p>Pour mon stage de 1er année de BTS SIO j'ai effectué mon stage chez PFSI (Projets Fournitures & Solutions Informatiques). </p>
    <p>Durant ce stage j'ai refait leur site internet pour pouvoir ajouter une fonctionnalité ,le principe de cette fonctionnalité était
    de pouvoir se connecter pour ensuite accéder à une fiche d'intervention qu'ils auraient remplie durant leur intervention.</p>
    <img class="rounded mx-auto d-block" src="../../../assets/FICHE%20INTERVENTION%20PFSI.jpg" width="50%">
    <p>Malheureusement le PDG de l'entreprise n'ayant pas retrouvé les codes pour accéder au serveur le site na jamais était mis en ligne</p>

  </div>
</ng-template>

