<section class="image-un">
  <h1>Corentin Bon</h1>
  <h1>Portfolio</h1>
</section>

<section class="section-un">
  <h3>Présentation</h3>
  <p>Bonjour, je m'apelle Bon Corentin j'ai 21 ans et je suis actuellement en Titre Pro Concepteur Développeur
    Informatique de niveau II. </p>
  <p>J'ai éffectué mon BTS SIO au sein du lycée Dampierre à Valenciennes option SLAM.</p>
  <p>Auparavant j'ai étudié au lycée du Hainaut à Valenciennes où j'ai fait un BAC STI2D option ITEC.</p>
</section>

<section class="image-deux">
  <h3>Curriculum vitæ</h3>
</section>

<section class="section-deux">
  <!--  <h3>Curriculum vitæ</h3>-->
  <a href="#" [routerLink]="['/CV']" target=_blank><img class="cv" src="../../../assets/CV.jpg"></a>
</section>

<section class="image-trois">
  <h3>Portfolio</h3>
</section>

<section class="section-trois">
  <div class="logoStage">
    <div id="logoMobile">
      <Coco-modal-atp-micro></Coco-modal-atp-micro>
      <Coco-modal-pfsi></Coco-modal-pfsi>
      <Coco-modal-toyota></Coco-modal-toyota>
      <Coco-modal-lyreco></Coco-modal-lyreco>
    </div>
    <table id="logoTable">
      <tr>
        <td><Coco-modal-atp-micro></Coco-modal-atp-micro></td>
        <td><Coco-modal-pfsi></Coco-modal-pfsi></td>
        <td><Coco-modal-toyota></Coco-modal-toyota></td>
        <td><Coco-modal-lyreco></Coco-modal-lyreco></td>
      </tr>
    </table>
  </div>
</section>
<footer>
  <h1 class="mx-auto">Bon Corentin Portfolio 2019/2020 </h1>
  <div class="contactLogo mx-auto">
    <Coco-social-button></Coco-social-button>
    <Coco-mail-logo></Coco-mail-logo>
  </div>

</footer>
