@import url('style1.css');


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

p {
  line-height: 1.75;
}

.image-un {
  background-image: url("../../../assets/back1.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-un {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 75px;
  background-color: honeydew;
}

.image-deux {
  background-image: url("../../../assets/backMoto.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-deux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 75px;
  background-color: #333;
  color: white;

  .cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //max-width: 85rem;
    width: 400px;
    height: 550px;
  }
}

.image-trois {
  background-image: url("../../../assets/backCompany.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-trois {
  padding: 50px;
  @media all and (max-width: 640px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .logoStage{
      max-height: 10rem;
      min-width: 11rem;
      //border: solid black;
    }
  }
  background-color: ghostwhite;
  @media all and (max-width: 640px) {
    height:51rem;
    justify-content: start;
    #logoTable{
      display: none;
    }
  }

  @media all and (min-width: 700px) {
    #logoTable {
      width: 80%;
      margin-left: 10%;
    }

    #logoMobile{
      display:none;
    }

    #logoTable td {
      width: 25%;
    }
  }
}

footer {
  background-image: url("../../../assets/backSocial.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;

  .contactLogo {
    //border: solid;
    max-height: 5rem;
    min-width: 11rem;
  }
}



