<input type="image" class="logo" src="../../../assets/logoAtpMicro.png" (click)="openModal(template)">

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">ATP Micro</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   Réparation et montage d'ordinateurs.
  </div>
</ng-template>
