<input type="image" class="logo" src="../../../assets/logoToyota.png" (click)="openModal(template)">

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Toyota</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="rounded mx-auto d-block" src="../../../assets/ConnexionToyota.png" width="50%">
    <p>Pour mon stage de 2eme année de BTS SIO j'ai effectué mon stage à Toyota - Toys Motors à Valenciennes. </p>
    <p>La mission de ce stage était de numériser les formulaires que remplissent les personnes durant leurs heures de travail.</p>
    <img class="rounded mx-auto d-block" src="../../../assets/FicheToyota.png" width="50%">
    <p>Ce formulaire était envoyé dans une base de données pour qu'ensuite les personnes qui supervise toute l'équipe puissent le voir les chiffres en temps réel.</p>
    <img class="rounded mx-auto d-block" src="../../../assets/DetailProduction.jpg" width="50%">
  </div>
</ng-template>
