.social-icons {
  //max-width: 980px;
  margin: 0 auto;
}

.icon {
  float: left;
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 1% 0.5%;
  padding-bottom: 19%;

 /* @media all and (min-width: 640px) {
    width: 9%;
    padding-bottom: 9%;
  }*/

  &:last-of-type {
    margin-right: 0;
  }

  a {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 50vh;
    background-color: #fff;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .2s ease-out;

    &:hover {
      background-color: #007fb1;
      background-size: 0%;
      transition: all .2s ease-out;
    }
  }
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 13px;
  text-align: center;

  transition: all .3s ease-out;
  opacity: 0;
  filter: blur(25px);
  transform: translateZ(0);
  will-change: transform;

  .icon:hover & {
    transition: all .3s ease-out;
    opacity: 1;
    filter: blur(0);
  }
}
.icon--linkedin a {
  //background-color: #007fb1;
  background-image: url('../../../assets/linkedin-icon.png');
}
