<div class="social-icons">
  <div class="icon icon--linkedin">
    <a href="https://www.linkedin.com/in/corentin-bon-43227b175/" target=_blank>
      <span class="icon__name">Linkedin</span>
    </a>
  </div>
</div>
